# =========================
# General
# =========================
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear
target/
out/

# =========================
# C#
# =========================
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.config
*.vs/
*.user
*.suo

# =========================
# Dotnet
# =========================
project.lock.json
project.fragment.lock.json
artifacts/

# =========================
# Scala / sbt / Metals / Bloop / Scala-CLI
# =========================
# sbt
project/target/
project/project/
# Metals & Bloop
.metals/
.bloop/
.bsp/
# Scala-CLI build dirs
.scala-build/
# Ammonite (Scala scripting)
.ammonite/
amm-repl-*
# Mill (if you try it later)
out/

# Optional: Scala worksheets (Metals)
*.worksheet.sc

# =========================
# Other
# =========================
*.sln.docstates

# =========================
# TS & JS
# =========================
node_modules
dist
Problems/Bubble_Sort/rand_roles.py
